pkgbase = outlyer-agent
	pkgdesc = The Full stack Outlyer Agent
	pkgver = 1.4.2
	pkgrel = 1
	url = https://www.outlyer.com
	install = outlyer-agent.install
	arch = x86_64
	license = GPL3
	backup = etc/outlyer/agent.yaml
	source = https://packages.outlyer.com/debian/pool/main/o/outlyer-agent/outlyer-agent_1.4.2-1_amd64.deb
	sha512sums = eca508a5840e7442d67f2a57e9e5ae39c34989c9852d83e2aa54bd939263106b8eff23c5a7fd89fa068ac618a1d65db3110099528ec9c58e15d3f5a0f7d2cc13

pkgname = outlyer-agent

