pkgbase = outlyer-agent
	pkgdesc = The Full stack Outlyer Agent
	pkgver = 1.4.6
	pkgrel = 1
	url = https://www.outlyer.com
	install = outlyer-agent.install
	arch = x86_64
	license = GPL3
	backup = etc/outlyer/agent.yaml
	source = https://packages.outlyer.com/debian/pool/main/o/outlyer-agent/outlyer-agent_1.4.6-1_amd64.deb
	sha512sums = 70d363b3a276e68e5729a9e53acdd7fff8d8d9c247715babe56d4f6806e01ad9bc935f62820f44cfbbe9cb508bcda1a782d843553397986b9d249e463524a8d7

pkgname = outlyer-agent

